* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    width: 100vw;
}

header {
    height: 100px;
    background-color: #000;
    color: #FFF;
}

.header {
    max-width: 1142px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;    
}

.logo {
    padding-left: 24px;
    width: 100px;
}

.menu-opener {
    display: none;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;     
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    padding-left: 11px;
    padding-right: 11px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b98b59;
    color: #CCC;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 40px;
    text-decoration: none;
    background-color: #b98b59;
    border-radius: 20px;
    color: #FFF;
    font-weight: 600;
    padding: 15px 50px 15px 50px;
    font-size: 12px;
} 

.button:hover,
.button-phone:hover,
.button-up:hover {
    background-color: #ccaa83;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    min-height: 500px;
}

.banner .sliders {
    width: 300vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;    
    color: #FFF;    
}

.banner h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
}

.banner h1 span {
    color: #b98b59;
}

.banner h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
} 

.banner .sliders-pointers {
    width: 100vw;
    position: absolute;
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;    
    height: 15px;
    border: 2px solid #b98b59;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;    
}

.banner .pointer.active {
    background-color: #b98b59;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.default .section-title{
    font-size: 30px;    
}

.default .section-desc {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 45px;
    color: #b9b9b9;
}

.default .section-body {
    margin: auto;
    max-width: 1142px;   
}

.default.light {
    background-color: #ededed;
}

.default.light .section-title,
.default.light .section-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #FFF;
}



/*
-----------------------------------
CSS specific areas
-----------------------------------
*/

/*
ABOUT US
*/

.section-aboutus {
    display: flex;
}

.button-position {
    position: absolute;    
    z-index: 1000;
    right: 50px;
    top: calc(100vh + 50px);
    transform: translateY(-50%);
}

.button-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #b98b59;
    margin-top: -75px;
    cursor: pointer;
}

.button-phone img {
    width: 35px;
}

.section-aboutus--left{
    flex: 1;        
    margin-left: 15px;
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: justify;
}

.section-aboutus--right{    
    width: 500px;
    text-align: center;
}

.section-aboutus--right img {
    width: 450px;  
    box-shadow: 0px 5px 10px #333;  
}

/*
SERVICES
*/

.section-services {
    display: flex;    
}

.service {
    flex: 1;     
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;    
    border-left: 1px solid #383838;    
}

.service img {
    width: 60px;
}

.service:last-child {
    border-right: 1px solid #383838;
}

.service-title {
    text-transform: uppercase;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: 700;  
    flex-grow: 1;  
}

.service-desc { 
    padding-top: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: #686868;
    margin-top: auto;
}

/*
PROJECTS
*/

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-projects {
    display: inline-block;        
    border: 1px solid #cfcfcf;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #ededed;
}

.menu-projects ul,
.menu-projects li {
    list-style: none;     
}

.menu-projects ul {
    display: flex;  
    flex-wrap: wrap;  
}

.menu-projects li {  
    padding-top: 5px;     
    border-right: 1px solid #cfcfcf;
    border-bottom: 5px solid #ededed;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.menu-projects li a {  
    display: flex;    
    justify-content: center; 
    align-items: center; 
    color: #3a3a3a;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px; 
    margin-bottom: -9px;       
    height: 50px;           
}

.menu-projects li:last-child {
    border-right: 0;
}

.menu-projects li a:hover,
.menu-projects .active a {    
    border-bottom: 5px solid #b98b59;
}

.photos-projects {
    width: 100vw;
    max-width: 1142px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-project{
    width: 280px;         
}

.area-photo-project {
    width: 260px;
    height: auto;
    margin: 10px;
}

.area-photo-project img {
    width: inherit;
    height: inherit;    
}

.info-photo-project {   
    display: none; 
    position: absolute;
    width: inherit;
    height: inherit;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);    
    color: #FFF;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    line-height: 20px;
    cursor: pointer;
}

.info-photo-project h5 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.area-photo-project:hover .info-photo-project {
    display: flex;
}

/*
TEAM
*/

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
}

.default.dark.team {    
    background-image: url('../../media/foto2.jpg');
    background-size: cover;
    background-position: bottom;  
    padding: 0;  
}

.background-team {
    background-color: rgba(0,0,0,0.5);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team .sliders {
    width: 300vw;
    height: 100%;
}

.section-team .slide {
    display: inline-block;    
    background-color: #FFF;
    width: 280px;
    height: 100%;
    min-height: 300px;
    margin-right: 20px;
    border-radius: 3px;    
}

.section-team .slidearea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;     
    color: #000; 
    padding: 30px;
}

.section-team .slidearea h5{
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
}

.section-team .slidearea p{
    margin-top: 5px;
    font-size: 13px;
    font-weight: 400;
    color: #252525;
}

.social-worker {
    display: flex;
    margin-top: 40px;
}

.social-worker a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;     
    border-radius: 13px;
    background-color: #bdbdbd;
    margin-right: 3px;
    margin-left: 3px;
}

.social-worker a:hover {
    background-color: #b98b59;
}

.background-team .sliders-pointers {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-team .pointer {
    width: 15px;    
    height: 15px;
    border: 2px solid #b98b59;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;    
}

.background-team .pointer.active {
    background-color: #b98b59;
}

.worker-avatar {
    width:150px;
    height:auto;
}

/*
CLIENTS
*/

.testimonials .section-body {
    max-width:initial;
}
.section-testimonials {
    overflow:hidden;
}
.section-testimonials .sliders {
    width:1000vw;
    height:100%;
}
.section-testimonials .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-testimonials .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
}

.section-testimonials--avatar {
    width:100px;
}
.section-testimonials--name {
    font-weight: bold;
    font-size:16px;
    margin-top:20px;
}
.section-testimonials--role {
    font-size:14px;
}
.section-testimonials--quoteimg {
    width:20px;
    margin-top:30px;
}
.section-testimonials--quote {
    margin-top:10px;
    font-size:13px;
    max-width:700px;
    color:#555;
    text-align:center;
    line-height:25px;
    margin-left:30px;
    margin-right:30px;
}
.section-testimonials .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-testimonials .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-testimonials .pointer.active {
    background-color:#B28756;
}

/*
COMPANIES
*/

.section-companies {
    border-top: 1px solid #cfcfcf; 
    border-bottom: 1px solid #cfcfcf;
    box-shadow: 0 3px 3px #383838;
}

.section-companies-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;        
}

.section-company {
    flex: 1;
    text-align: center;
}

/*
PRICE
*/

.section-price {
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;    
}



.price {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFF;
    min-width: 250px;
    height: 350px;
    padding-top: 25px;
    border-radius: 3px;
}

.price h4 {
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

.price h3 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.price h5 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #aeaeae;
}

.price p {
    margin-top: 5px;
    font-size: 11px;
    font-weight: 500;
    color: #7e7e7e;
}

.hifen {      
    margin-top: 5px;  
    width: 7px;
    border-top: 1px solid #7e7e7e;
}

.button.dark {
    background-color: #373737;
}

.button.dark:hover {
    background-color: #b98b59;
}

/*
PREMIUM
*/

.default.light.features {
    border-top: 1px solid #cfcfcf;
    background-color: #FFF;    
}

.features .section-body {
    max-width:initial;
}
.section-features {
    overflow:hidden;
}
.section-features .sliders {
    width:1000vw;
    height:100%;
}
.section-features .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-features .slidearea {
    display:flex;    
    height:100%;
    justify-content: center;
    align-items:center;
    max-width:1142px;   
    margin: auto; 
    border-bottom: 1px solid #aeaeae;
    padding-bottom: 50px;
}

.features .slidearea img{
    margin-right: 100px;    
}

.feature {
    display: flex; 
    margin-top: 20px;
}

.feature-img {
    margin-right: 20px;
    width: 34px;
}

.feature-desc {
    margin-bottom: 10px;
}

.feature-desc h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
}

.feature-desc p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #7e7e7e;
    line-height: 25px;
}

.section-features .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-features .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-features .pointer.active {
    background-color:#B28756;
}

.feature-button {
    display: flex;
    justify-content: center;
    margin: auto;
}

/*
FACTS
*/

.section-facts {
    display: flex;   
    justify-content: space-around; 
    flex-wrap: wrap;
}

.fact {
    max-width: 280px;
    text-align: center;
    margin-bottom: 20px;
}

.fact-qty {
    color: #b98b59;
    font-size: 50px;
    font-weight: 700;
}

.fact-line {
    color: #7e7e7e;
    font-size: 50px;
    font-weight: 700;
    margin-top: -40px;
    margin-bottom: -30px;
}

.fact-data {
    display: flex;
    flex-direction: column;   
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px;
}

.fact .service-title {
    margin-bottom: 10px;
    min-height: 50px;
}

.fact .service-desc {
    text-align: justify;
}

/*
SOCIAL
*/

.section-social {
    background-color: #FFF;  
    padding-top: 20px; 
    padding-bottom: 20px;
}

.section-social-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 600px;
    margin: auto;           
}

.social {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-share a {
    margin-right: 15px;
}

.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;     
    border-radius: 20px;    
}

.section-social-area h2 {    
    font-size: 14px;
    color: #aeaeae;
    margin-right: 20px;
}

.social h3 {
    margin-left: 5px;
    font-size: 11px;
    color: #aeaeae;
}

/*
CONTACT
*/

.default.light.contact {
    border-top: 1px solid #cfcfcf;
}

.section-contact {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

.contact-name {
    display: flex;
    justify-content: space-between;    
}

.contact-name input {    
    min-width: 47%;
}

.section-contact input,
.section-contact textarea {
    margin-bottom: 30px;
    height: 30px;
    border: 0;
    border-bottom: 2px solid #aeaeae;
    background-color: #ededed;
    color: #7e7e7e;
    font-size: 16px;
}

.section-contact input::placeholder,
.section-contact textarea::placeholder{
    color: #aeaeae;
    font-weight: 500;
    font-size: 14px;
}

.section-contact input:focus,
.section-contact textarea:focus {
    outline: none;
}

.section-contact textarea {
    height: 100px;
}

/*
MAP
*/

.map {
    background-color: #333;
    background-image: url('../images/map.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.map-align {    
    width: 100vw;
    max-width: 1000px;
    margin: auto;
}

.map-address{
    padding: 30px;
    width: 50%;
    background-color: #FFF;
    border-radius: 3px; 
}

.com-postal {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.com-postal:last-child {
    padding-bottom: 0;
}

.map-img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #aeaeae;
    width: 33px;
    height: 33px;
    border-radius: 18px;
    margin-right: 20px;
}

.com-postal h5 {
    color: #7f7f7f;
    font-size: 12px;
    font-weight: 500;
}

/*
FOOTER
*/

footer {
    display: flex;
    background-color: #000;        
}

.button-up {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #b98b59;
    margin-left: 30px;
    margin-top: -25px;
    cursor: pointer;
}

.button-up img {
    width: 40px;
}

.footer-columns {
    margin: auto;
    display: flex;   
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.footer-left {
    flex: 1;
    display: flex;
    flex-direction: column; 
    min-width: 200px; 
}

.footer-social {
    flex: 1;
}

.footer-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;     
    border-radius: 13px;
    background-color: #373737;
    margin-right: 3px;
    margin-left: 3px;
}

.footer-social a:hover {
    background-color: #b98b59;
}

.footer-copyright {
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    color: #dfdfdf;    
}

.footer-center {
    text-align: justify;
    color: #7d7d7d;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    min-width: 350px;
    max-width: 400px;
    margin-left: 30px;
    margin-right: 30px;
}

.footer-right {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #373737;
    border-radius: 3px;
    min-height: 200px;
    min-width: 350px;
}

.footer-right input {
    height: 30px;
    border: 0;
    border-bottom: 2px solid #dfdfdf;
    background-color: #373737;
    color: #dfdfdf;
    font-size: 16px;
    min-width: 250px;
    margin-bottom: 30px;
}

.footer-right input::placeholder{
    color: #7d7d7d;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.footer-right input:focus{
    outline: none;
}

.footer-right .button {
    margin-top: 0;
}


@media (min-width: 450px) and (max-width: 800px){
    .menu-opener {
        display: block;
        width: 40px;
        margin-right: 30px;
    }

    .button-position {
        position: absolute;    
        z-index: 1000;
        right: 150px;
        top: 100px;
        transform: translateY(-50%);
    }

    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0,0,0,0.9);
        width: 50vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        margin-left: 50px;
        font-weight: 700;
        height: 60px;
        font-size: 18px;
        border: 0;
    }

    /* .menu li.active a {
        color: #b98b59;
    } */

    .menu li a:hover,
    .menu .active a {
        border-bottom: 0;
        color: #b98b59;
    }

    .section-aboutus {
        flex-direction: column;        
    }

    .section-aboutus--left{
        flex: 1;       
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
    }
    
    .section-aboutus--right{    
        width: auto;        
    }

    .section-services {
        flex-wrap: wrap;
    }

    .service {
        min-width: 50%;
        margin-bottom: 30px;
    }

    .section-team {
        max-width: 580px;
    }

    .section-features .slidearea {
        flex-wrap: wrap;
        padding-bottom: 10px;
    }

    .features .slidearea img{
        margin-right: 0;    
    }

    .feature {
        padding-left: 30px;
        padding-right: 30px;
    }

    .fact {
        max-width: 350px;
    }

    .fact .service-title {
        margin-bottom: 10px;
        min-height: 30px;
    }
    
    .fact .service-desc {
        text-align: justify;
        font-size: 14px;
    }

    .footer-columns {
        flex-direction: column;
        align-items: center;
    }

    .footer-copyright {
        padding-top: 20px;
    }

    .footer-left {
        align-items: center;
        padding-bottom: 30px;
    }

    .footer-center {
        padding-bottom: 30px;
        max-width: 350px;
        margin: auto;
    }
}

@media (max-width: 450px){
    .menu-opener {
        display: block;
        width: 40px;
        margin-right: 30px;
    }

    .button-position {
        position: absolute;    
        z-index: 1000;
        right: 100px;
        top: 100px;
        transform: translateY(-50%);
    }

    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0,0,0,0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        margin-left: 50px;
        font-weight: 700;
        height: 60px;
        font-size: 18px;
        border: 0;
    }

    .menu li a:hover,
    .menu .active a {
        border-bottom: 0;
        color: #b98b59;
    }

    .banner h1 {
        font-size: 35px;
    }

    .banner h2 {
        font-size: 17px;
    }

    .section-aboutus {
        flex-direction: column;        
    }

    .section-aboutus--left{
        flex: 1;       
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
    }
    
    .section-aboutus--right{    
        width: auto;
        margin-left: 30px;
        margin-right: 30px;        
    }

    .section-aboutus--right img {
        width: 100%;  
    }

    .section-services {
        flex-wrap: wrap;
    }

    .service {
        min-width: 100%;
        margin-bottom: 30px;
    }

    .service:last-child {
        margin-bottom: 0;
    }

    .menu-projects {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .menu-projects li a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .photo-project {
        width: 340px;
    }

    .area-photo-project {
        width: 320px;
    }

    .section-team {
        max-width: 280px;
    }

    .section-company {
        min-width: 30%;
        margin-bottom: 30px;
    }

    .default.section-companies {
        padding-bottom: 20px;
    }

    .section-features .slidearea {
        flex-wrap: wrap;
        padding-bottom: 10px;
    }

    .features .slidearea img{
        margin-right: 0;    
    }

    .feature {
        padding-left: 30px;
        padding-right: 30px;
    }

    .fact {
        max-width: 350px;
    }

    .fact .service-title {
        margin-bottom: 10px;
        min-height: 30px;
    }
    
    .fact .service-desc {
        text-align: justify;
        font-size: 14px;
    }

    .social-share {
        display: none;
    }

    .section-social {
        display: flex;
        flex-direction: column;
    }

    .section-social-area h2 {
        text-align: center;
        min-width: 100%;
        padding-bottom: 20px;
    }

    .social {
        flex-direction: column;
    }

    .social h3 {
        margin-left: 0;
    }

    .section-contact {
        padding-left: 30px;
        padding-right: 30px;
    }

    .contact-name {
        flex-direction: column;   
    }
    
    .contact-name input {    
        width: auto;
    }

    .map {
        padding: 0;
        padding-bottom: 250px;
    }
    
    .map-align {    
        width: auto;
    }
    
    .map-address{
        width: auto;
    }

    .footer-columns {
        flex-direction: column;
        align-items: center;
    }

    .footer-copyright {
        padding-top: 20px;
    }

    .footer-left {
        align-items: center;
        padding-bottom: 30px;
    }

    .footer-center {
        padding-bottom: 30px;
        max-width: 350px;
        margin: auto;
    }
}